body {
    background-color: #231D4B;
}

.title {
    margin: auto;
    width: 50%;
    text-align: center;
    color: #FFFFFF; 
    padding: 15px;
}

.main_col-container {
    display: table; 
    width: 100%; 
}

.main_col {
    display: table-cell;
}

.box {
    border-radius: 25px; 
    margin: auto; 
    background-color: #2D2755;
    padding: 20px;
}

.pool_selector {
    text-align: left;
    color: #FFFFFF; 
    padding: 5px;
}

#pool {
    text-align: left;
    color: #FFFFFF; 
    padding: 5px; 
    background-color: #2D2755;
    outline-width: light;
    outline-color: #E6B131;
    outline-style: solid;
}

#token1 {
    text-align: left; 
    color: #FFFFFF; 
    padding: 5px; 
    background-color: #2D2755;
}

#t1 {
    text-align: left;
    color: #FFFFFF; 
    padding: 5px; 
    background-color: #2D2755;
    outline-width: light;
    outline-color: #E6B131;
    outline-style: solid;
}

#rt1 {
    background: #E6B131;
    border-color: #E6B131;
    color: #E6B131
}

#token2 {
    text-align: left; 
    color: #FFFFFF; 
    padding: 5px; 
    background-color: #2D2755;
}

#t2 {
    text-align: left;
    color: #FFFFFF; 
    padding: 5px; 
    background-color: #2D2755;
    outline-width: light;
    outline-color: #E6B131;
    outline-style: solid;
}

.pool_tokens {
    text-align: left; 
    color: #FFFFFF; 
    padding: 5px; 
    background-color: #2D2755;
}

.heading {
    text-align: left; 
    color: #FFFFFF;
    padding: 10px; 
} 

.output_text {
    text-align: center; 
    color: #FFFFFF; 
    padding: 5px; 
}

.col-label {
    text-align: left;
    color: #FFFFFF; 
    padding: 5px;
    vertical-align: top;
}

.footer {
    border-radius: 25px; 
    margin: auto; 
    background-color: #2D2755;
    padding: 20px;
}