body {
    background-color: #080424;
}
 
@font-face {  
    src: url(Poppins-Regular.ttf);
    font-family: "Poppins";
  } 

.title {
    margin: auto;
    width: 50%;
    text-align: center;
    color: #d2d0ff; 
    padding: 15px;
    font-family: 'Poppins';
}

.box {
    border-radius: 25px; 
    margin: auto;
    width: 75%; 
    background-color: #140e35;
    padding: 20px;
}

.shiny-bound-input {
    text-align: right;
    color: #d2d0ff; 
    padding: 5px; 
    background-color: #140e35;
    outline-width: light;
    outline-color: #E6B131;
    outline-style: solid;
    border: none;
    font-family: 'Poppins'; 
}

.shiny-text-output {
    text-align: left;
    color: #d2d0ff; 
    padding: 5px; 
    background-color: #140e35;
    border: none; 
    text-align: right;
    font-family: 'Poppins'; 
}

.pool-info {
    margin: auto; 
    padding: 10px;
    color: #d2d0ff;
    font-family: 'Poppins';  
}

.heading {
    text-align: center; 
    color: #d2d0ff;
    padding: 10px; 
    font-family: 'Poppins'; 
} 

.output_text {
    text-align: center; 
    color: #d2d0ff; 
    padding: 5px; 
    font-family: 'Poppins'; 
}

.col-label {
    text-align: left;
    color: #d2d0ff; 
    padding: 5px;
    vertical-align: top;
    font-family: 'Poppins'; 
}

.footer {
    border-radius: 25px; 
    margin: auto; 
    width: 75%;
    background-color: #140e35;
    padding: 20px;
}