body {
    background-color: #080424;
    background-repeat: repeat-y;
    margin: 5px; 
    background-image: url('img/bitmap.png'); 
    background-size: cover;
}

.title {
    margin: auto;
    width: 50%;
    text-align: center;
    color: #d2d0ff; 
    padding: 15px;
}

h5 {
    margin: auto; 
    text-align: center; 
    color: #e13cbd;
    padding: 10px;
    font-size: x-large;
}

.box {
    border-radius: 25px; 
    margin: auto;
    width: 60%; 
    background-color: #140e35;
    padding: 30px;
    display: table; 
    align-items: center;
    justify-items: center;
}

.shiny-bound-input:not(:hover) {
    text-align: right;
    color: #d2d0ff; 
    padding: 5px; 
    background-color: #140e35;
    outline-width: light;
    outline-color: #e13cbd;
    outline-style: solid;
    border: none;
    font-size: medium; 
    vertical-align: center;
}

.shiny-bound-input:hover {
    text-align: right;
    color: #d2d0ff; 
    padding: 5px; 
    background-color: #140e35;
    outline-width: light;
    outline-color: #e13cbd;
    outline-style: solid;
    border: none;
    font-size: medium; 
    vertical-align: center;
}

.shiny-text-output {
    text-align: left;
    color: #d2d0ff; 
    padding: 5px; 
    background-color: #140e35;
    border: none; 
    text-align: right;
    font-size: medium;
    vertical-align: bottom; 
}

.pool-info {
    margin: auto; 
    padding: 5px;
    color: #d2d0ff;
}

.col-label {
    text-align: left;
    color: #d2d0ff; 
    padding: 5px;
    vertical-align: top;
    font-size: large;
}

.output_text {
    text-align: center;
    color: #d2d0ff; 
    padding: 5px;
    font-size: large;
}

textarea { 
    margin: auto; 
    width: 100%;
    background-color: #140e35;
    color: #d2d0ff; 
    padding: 10px;
    text-align: center;
    border: none;
}

hr {
    border-top: 2px solid #d2d0ff
}